<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>
        Forgot Password
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href='/images/favicon.ico' />
    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/lib/sweetalert2/dist/sweetalert2.css" />
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/elastislide.css">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- endinject -->
    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/es6-promise/promise.js"></script>
    <script src="/lib/sweetalert2/dist/sweetalert2.js"></script>
    <script src="/lib/modernizr/src/Modernizr.js"></script>
    <!-- endbower -->
    <!-- inject:js -->
    <script src="/js/checkForm.js"></script>
    <script src="/js/gallery.js"></script>
    <script src="/js/jquery.elastislide.js"></script>
    <script src="/js/jquery.tmpl.min.js"></script>
    <!-- endinject -->
    <script>
        $(window).load(function () {
            // Animate loader off screen
            setTimeout(function () {
                $(".se-pre-con").fadeOut("slow");
            }, 800);

        });
    </script>
    <script>
        function checkingpassword(form) {
            var filter = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;

            if (!filter.test(form.email.value)) {
                swal("Oops!", "Please input a valid email address!", "error");
                form.email.focus();
                return false;
            }
            if (form.password1.value !== "" && form.password1.value == form.password2.value) {
                if (form.password1.value.length < 6) {
                    swal("Oops!", "Password must contain at least six characters!", "error");
                    form.password1.focus();
                    return false;
                }
                if (form.password1.value == form.userName.value) {
                    swal("Oops!", "Password must be different from Username!", "error");
                    form.password1.focus();
                    return false;
                }
                re = /[0-9]/;
                if (!re.test(form.password1.value)) {
                    swal("Oops!", "Password must contain at least one number (0-9)!", "error");
                    form.password1.focus();
                    return false;
                }
                re = /[a-z]/;
                if (!re.test(form.password1.value)) {
                    swal("Oops!", "Password must contain at least one lowercase letter (a-z)!", "error");
                    form.password1.focus();
                    return false;
                }
                re = /[A-Z]/;
                if (!re.test(form.password1.value)) {
                    swal("Oops!", "Password must contain at least one uppercase letter (A-Z)!", "error");
                    form.password1.focus();
                    return false;
                }
            } else {
                swal("Oops!", " Please check that you've entered and confirmed your password!", "error");
                form.password1.focus();
                return false;
            }

            return true;
        }
    </script>

    <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
</head>

<body>
    <div class="se-pre-con"></div>
    <header class="navbar navbar-bright navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Home</a>
            </div>
            <nav class="collapse navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <% for(var i=0 ;i<nav.length;i++){%>
                        <li>
                            <a href="<%=nav[i].Link%>">
                                <%=nav[i].Text%>
                            </a>
                        </li>
                        <%}%>
                </ul>
                <ul class="nav navbar-right navbar-nav">
                    <%if(status.Text ==='Log Out'){%>
                        <li>
                            <a href="<%=status.Link%>">
                                <%=status.Text%>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="/Search" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
                            <ul class="dropdown-menu" style="padding:12px; background:white">
                                <form class="form-inline" action="/Search/Results">
                                    <div class="container">
                                        <div class="row pad-btm-40">
                                            <div class="span16">
                                                <div class="spaceEmOut">
                                                    <fieldset class="switch switch-two">
                                                        <legend>Search</legend>
                                                        <input id="title" name="option" type="radio" value="title" checked />
                                                        <label for="title">Title</label>
                                                        <input id="author" name="option" type="radio" value="author" />
                                                        <label for="author">Author</label>
                                                        <span class="switch-button"></span>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control pull-left" onblur="if (this.value == '') {this.value = 'Search Library';}" placeholder="Search Library" name="q" required>
                                    <button type="submit" class="btn btn-default pull-right" href="/Search/Results"><i class="glyphicon glyphicon-search"></i></button>

                                </form>
                            </ul>
                        </li>
                        <%}else{%>
                            <li>
                                <a href="<%=status.Link%>">
                                    <%=status.Text%>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="/Search" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
                                <ul class="dropdown-menu" style="padding:12px; background:white">
                                    <form class="form-inline" action="/Search/Results">
                                        <div class="container">
                                            <div class="row pad-btm-40">
                                                <div class="span16">
                                                    <div class="spaceEmOut">
                                                        <fieldset class="switch switch-two">
                                                            <legend>Search</legend>
                                                            <input id="title" name="option" type="radio" value="title" checked />
                                                            <label for="title">Title</label>
                                                            <input id="author" name="option" type="radio" value="author" />
                                                            <label for="author">Author</label>
                                                            <span class="switch-button"></span>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control pull-left" onblur="if (this.value == '') {this.value = 'Search Library';}" placeholder="Search Library" name="q" required>
                                        <button type="submit" class="btn btn-default pull-right" href="/Search/Results"><i class="glyphicon glyphicon-search"></i></button>

                                    </form>
                                </ul>
                            </li>
                            <%}%>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body">
                        <!--/stories-->
                        <form name="signInForm" id="signIn" action="/ForgotPassword/reset" onsubmit="return checkingpassword(this);" method="post">
                            <ul class="forgot-pass-form" style="list-style-type:none">

                                <h3>Reset Password</h3>
                                <hr>
                                <div>
                                    <li>
                                        <input title="Enter your Email" type="text" placeholder="Email" name="email" autocomplete="off" required/>
                                        <div class="clear"> </div>
                                    </li>
                                    <li>
                                        <input title="New Password" type="password" placeholder="New Password" name="password1" autocomplete="off" required/>
                                        <div class="clear"> </div>
                                    </li>
                                    <li>
                                        <input title="Confirm Password" type="password" placeholder="Confirm Password" name="password2" autocomplete="off" required/>
                                        <div class="clear"> </div>
                                    </li>
                                    <h4></h4>

                                    <input type="submit" value="Update Password">

                                </div>
                            </ul>
                            <div class="clear"> </div>
                        </form>
                        <br>
                        <br>
                        <hr>
                        <!--/stories-->
                        <a href="/Books" class="btn btn-primary pull-right btnNext">Back to Login<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <!--/col-12-->
        </div>
    </div>
    <hr>
    <hr>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="list-inline">
                        <li><i class="icon-facebook icon-2x"></i></li>
                        <li><i class="icon-twitter icon-2x"></i></li>
                        <li><i class="icon-google-plus icon-2x"></i></li>
                        <li><i class="icon-pinterest icon-2x"></i></li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <p class="pull-right">Shubham Singh<i class="icon-heart-empty"></i>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>